/* PC */
@media (min-width: 992px) {
  .hide-on-pc {
    display: none;
  }
}

/* Tablet and Mobile */
@media (max-width: 991.98px) {
  .header__inner {
    flex-direction: row-reverse;
  }

  .header-mobile__close,
  .header__bars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    cursor: pointer;
  }

  .header__mail {
    margin-left: auto;
  }

  .header__mail-text,
  .header__navbar {
    display: none;
  }

  .header-mobile__overlay {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .header-mobile__checkbox:checked ~ .header-mobile__overlay {
    opacity: 1;
    visibility: visible;
  }

  .header-mobile__checkbox:checked ~ .header-mobile__container {
    transform: translateX(0);
  }

  .header-mobile__container {
    position: fixed;
    inset: 0 0 0 40%;
    z-index: 12;
    padding: 20px 60px 0 30px;
    background-color: var(--white-color);
    transform: translateX(100%);
    transition: 0.5s ease;
  }

  .header-mobile__close {
    margin-left: auto;
    color: #080415;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .header-mobile__head {
    display: flex;
    align-items: center;
  }

  .header__logo {
    width: 80px;
    height: 80px;
  }

  #mobile-navbar {
    margin-top: 20px;
    li {
      border-top: 1px solid #d6d3e2;
    }

    a {
      display: block;
      text-align: right;
      padding: 22px 0;
    }

    a:active {
      color: var(--primary-color);
    }
  }

  .hero__media {
    min-height: fit-content;
  }

  .clients {
    padding-top: 120px;

    .row {
      flex-direction: column;
    }

    .clients__title {
      text-align: center;
      width: 100%;
      font-size: 3.2rem;
      padding-left: 0;
      margin-bottom: 42px;

      &::after {
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 66px;
      }
    }
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero__media {
    width: 80%;
    .hero__media-img {
      top: 10%;
    }

    .hero__media-decor {
      top: 3%;
      left: -50%;
    }
  }

  .hero__content {
    padding-top: 80px;

    .hero__title {
      font-size: 6rem;
    }

    .hero__desc {
      width: 100%;
    }

    .hero__socials {
      margin-top: 50px;
    }
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .btn {
    min-width: 147px;
    min-height: 55px;
    line-height: 55px;
    font-size: 1.6rem;
  }

  .header__inner {
    padding: 0 13px;
    border-bottom: 1px solid #d6d3e2;
  }

  .header__bars {
    width: 32px;
    height: 32px;
  }

  .header-mobile__close,
  .header__mail-icon {
    width: 32px;
    height: 32px;

    > img {
      width: 16.696px;
      height: 11.13px;
    }
  }

  .header-mobile__container {
    inset: 0 0 0 20%;
    padding: 0 20px 0 20px;
  }

  .header__logo {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  #mobile-navbar {
    a {
      padding: 18px 0;
      text-align: center;
      font-size: 1.4rem;
    }
  }

  .hero {
    .hero__inner {
      .row {
        flex-direction: column-reverse;
      }
    }
  }

  .hero__media {
    margin-top: 20px;
    min-height: 355px;
    padding: 0 46px;
    width: 100%;
    overflow: hidden;

    .hero__media-img {
      width: 259px;
      height: 355px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .hero__media-decor {
      width: 150%;
      top: -44px;
      left: -27%;
    }
  }

  .hero__content {
    padding-top: 50px;

    .hero__title {
      width: 260px;
      font-size: 4.2rem;
      letter-spacing: -0.168rem;
    }

    .hero__desc {
      width: 318px;
      font-size: 1.6rem;
    }

    .hero__socials {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }

  .clients {
    .clients__title {
      width: 170px;
      font-size: 2.8rem;

      &::after {
        width: 48px;
      }
    }

    .clients__list {
      margin-left: 0;
    }

    .clients__item {
      min-width: auto;
      width: 50%;
      padding-left: 0;

      &:last-child {
        padding-left: 36px;
      }
    }
  }
}
