* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
  --black-color: #080415;
  --gray-color: #51586a;
  --white-color: #fff;
  --header-bg-color: #fdfdfd;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
}

/* Common */
a,
button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 170px;
  min-height: 62px;
  padding: 0px 12px;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 62px;

  color: var(--black-color);
  background-color: transparent;

  border: none;
  outline: none;
  cursor: pointer;
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.btn.btn--text {
  text-decoration: underline;

  &:hover {
    color: var(--primary-color);
  }
}

/* Header */
.header--sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  background-color: var(--header-bg-color);

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.header__mail-icon,
.header__mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mail-text {
  color: var(--black-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36;
  text-decoration-line: underline;

  &:hover {
    color: var(--primary-color);
  }
}

.header__mail-icon {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: 1px solid rgba(93, 59, 238, 0.2);
  margin-right: 10px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item-link {
  padding: 8px 22px;
  color: var(--gray-color);
  font-size: 1.8rem;
  font-weight: 400;

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    color: var(--primary-color);
    text-shadow: 0 0 1px currentColor;
  }
}

/* Hero */
.hero {
  background-color: var(--header-bg-color);
}

.hero__media {
  width: 514px;
  min-height: 749px;
  position: relative;

  .hero__media-img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }

  .hero__media-decor {
    width: 180%;
    position: absolute;
    bottom: 0;
    left: -219px;
  }
}

.hero__content {
  padding-top: 181px;

  .hero__title {
    color: var(--black-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -0.32rem;
  }

  .hero__desc {
    width: 370px;
    margin-top: 20px;
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
  }

  .hero__cta {
    margin-top: 50px;
  }

  .hero__cta-btn:nth-child(2) {
    margin-left: -15px;
  }

  .hero__socials {
    margin-top: 104px;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
  }

  .hero__socials-list {
    margin-left: 15px;
    display: flex;
    gap: 20px;
  }

  .hero__socials-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 40px;
    border: 1px solid rgba(8, 4, 21, 0.1);
    cursor: pointer;

    &:hover {
      border-color: var(--primary-color);
    }

    &:hover .hero__socials-link svg {
      color: var(--primary-color);
    }
  }

  .hero__socials-link svg {
    color: var(--black-color);
  }
}

/* Clients */
.clients {
  padding-top: 98px;

  .row {
    align-items: center;
    justify-content: space-between;
  }

  .clients__title {
    position: relative;
    padding-left: 99px;
    width: 352px;
    color: var(--black-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.168rem;

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 0;
      width: 86px;
      height: 2px;
      display: inline-block;
      background-color: #5d3bee;
    }
  }

  .clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 36px;
  }

  .clients__item {
    width: calc(100% / 4);
  }
}
