* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
  --black-color: #080415;
  --gray-color: #51586a;
  --white-color: #fff;
  --header-bg-color: #fdfdfd;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
}

/* Common */
a,
button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.224rem;
  color: var(--black-color);
}

.section-desc {
  color: var(--gray-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.666;
}

.btn {
  display: inline-block;
  min-width: 170px;
  min-height: 62px;
  padding: 0px 12px;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 62px;

  color: var(--black-color);
  background-color: transparent;

  border: none;
  outline: none;
  cursor: pointer;

  transition-duration: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: opacity;
}

.btn.btn--white {
  color: var(--black-color);
  background-color: var(--white-color);
  transition: opacity;
}

.btn.btn--text {
  text-decoration: underline;
  transition: color;

  &:hover {
    color: var(--primary-color);
  }
}

.dots {
  display: flex;
  align-items: center;
  gap: 15px;

  .dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgba(8, 4, 21, 0.2);
    cursor: pointer;
  }

  .dot--active {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary-color);
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: var(--primary-color);
      border-radius: 12px;
    }
  }
}

/* Header */
.header--sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  background-color: var(--header-bg-color);

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.header__mail-icon,
.header__mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mail-text {
  color: var(--black-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36;
  text-decoration-line: underline;

  &:hover {
    color: var(--primary-color);
  }
}

.header__mail-icon {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: 1px solid rgba(93, 59, 238, 0.2);
  margin-right: 10px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item-link {
  padding: 8px 22px;
  color: var(--gray-color);
  font-size: 1.8rem;
  font-weight: 400;

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    color: var(--primary-color);
    text-shadow: 0 0 1px currentColor;
  }
}

/* Hero */
.hero {
  background-color: var(--header-bg-color);
}

.hero__media {
  width: 514px;
  min-height: 749px;
  position: relative;

  .hero__media-img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }

  .hero__media-decor {
    width: 180%;
    position: absolute;
    bottom: 0;
    left: -219px;
  }
}

.hero__content {
  padding-top: 181px;

  .hero__title {
    color: var(--black-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -0.32rem;
  }

  .hero__desc {
    width: 370px;
    margin-top: 20px;
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
  }

  .hero__cta {
    margin-top: 50px;
  }

  .hero__cta-btn:nth-child(2) {
    margin-left: -15px;
  }

  .hero__socials {
    margin-top: 104px;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
  }

  .hero__socials-list {
    margin-left: 15px;
    display: flex;
    gap: 20px;
  }

  .hero__socials-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 40px;
    border: 1px solid rgba(8, 4, 21, 0.1);
    cursor: pointer;

    &:hover {
      border-color: var(--primary-color);
    }

    &:hover .hero__socials-link svg {
      color: var(--primary-color);
    }
  }

  .hero__socials-link svg {
    color: var(--black-color);
  }
}

/* Clients */
.clients {
  padding-top: 98px;

  .row {
    align-items: center;
    justify-content: space-between;
  }

  .clients__title {
    position: relative;
    padding-left: 99px;
    width: 352px;
    color: var(--black-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.168rem;

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 0;
      width: 86px;
      height: 2px;
      display: inline-block;
      background-color: var(--primary-color);
    }
  }

  .clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 36px;
    margin-left: -20px;
  }

  .clients__item {
    min-width: 175px;
    display: block;
    width: calc(100% / 4);
    padding-left: 20px;
  }
}

/* Special */
.special {
  padding-top: 133px;

  .special__title {
    text-align: center;
  }

  .special__desc {
    display: block;
    width: 534px;
    margin-top: 20px;
    margin-inline: auto;

    text-align: center;
  }

  & .row {
    margin-top: 60px;
  }

  .special-item {
    padding: 33px 43px;
    background: #fbfaff;
    border: 1px solid #fbfaff;
    cursor: pointer;

    .special-item__thumb-bg {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 74px;
      height: 74px;

      border-radius: 100%;
      border: 1px solid rgba(8, 4, 21, 0.2);
    }

    .special-item__img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    &:hover {
      border-color: var(--primary-color);
    }

    .special-item__title {
      margin-top: 22px;
      color: var(--black-color);
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: -0.128rem;
    }

    .special-item__desc {
      margin-top: 15px;
      color: var(--gray-color);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.66;
    }
  }

  .special__dots {
    justify-content: center;
    margin-inline: auto;
    margin-top: 30px;
  }
}

/* Projects */
.project {
  margin-top: 70px;
  padding-top: 70px;
  background-color: var(--primary-color);

  .project__inner {
    padding: 86px 0;
  }

  .project__title {
    color: var(--white-color);
  }

  .project__desc {
    color: var(--white-color);
    width: 370px;
  }

  & .project__list {
    margin-top: 70px;
  }

  .project-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 24px 34px;
    background-color: var(--white-color);
    margin-top: 20px;
    overflow: hidden;

    .project-item__content {
      position: relative;
      margin-right: 10px;
    }

    .project-item__title {
      position: relative;
      color: var(--black-color);
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: -0.128rem;
      cursor: pointer;
      z-index: 1;

      &:hover {
        color: var(--primary-color);
      }
    }

    .project-item__desc {
      margin-top: 10px;
      color: var(--gray-color);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.44;
    }

    .project-item__link {
      z-index: 1;
      position: relative;
      display: inline-block;
      margin-top: 20px;
      color: var(--black-color);
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.66;
      text-decoration-line: underline;
      transition: 0.25s ease;

      &:hover {
        color: var(--primary-color);
      }
    }

    .project-item__thumb-bg {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      width: 246px;
      height: 187px;

      &:hover {
        opacity: 0.85;
      }
    }

    .project-item__img {
      width: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      top: -121px;
      right: -125px;
      content: url(../icon/project-decor.svg);
      display: block;
      width: 534.701px;
      height: 509.911px;
    }
  }

  .project__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
}

/* About */
.about {
  padding-top: 140px;
  background-color: #fbfaff;

  .about-header__head {
    text-align: center;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
  }

  .about-header__title {
    text-align: center;
    margin-top: 10px;
  }

  .about-header__desc {
    width: 570px;
    margin-top: 15px;
    margin-inline: auto;
    text-align: center;
  }

  .about__stats {
    padding: 20px 0;
    margin-top: 70px;
    border: 1px solid;
    border-color: rgba(8, 4, 21, 0.2) transparent;
  }

  .about__stat {
    .about__stat-value {
      display: block;
      color: var(--black-color);
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.36;
      letter-spacing: 0.168rem;
      text-decoration-line: underline;
    }

    .about__stat-desc {
      display: block;
      color: var(--gray-color);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.66;
    }
  }

  .about__media {
    position: relative;
    margin-top: 70px;

    &::after {
      content: url("../icon/play-icon.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 111px;
      height: 111px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }

    &::before {
      content: "Intro Video";
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 62px;
      color: var(--gray-color);
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.66;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }
  }

  .about__img {
    width: 100%;
    object-fit: cover;
  }
}

/* Testimonal */
.testimonal {
  position: relative;
  padding-top: 140px;
  padding-bottom: 70px;
  background-color: #fbfaff;

  .testimonal__decor:nth-child(1) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .testimonal__decor:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .testimonal__title {
    text-align: center;
  }

  .testimonal__desc {
    margin-top: 20px;
    text-align: center;
    width: 570px;
    margin-inline: auto;
  }

  .testimonal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .testimonal__quote {
    width: 679px;
    color: var(--gray-color);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.66;
  }

  .testimonal__author {
    margin-top: 36px;
  }

  .testimonal__author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .testimonal__author-img-wrap {
    width: 39.833px;
    height: 39.833px;
    border-radius: 50%;
    background-color: #f29764;
    overflow: hidden;
  }

  .testimonal__author-img {
    margin-top: 6.7px;
    width: 100%;
    object-fit: cover;
  }

  .testimonal__author-name {
    color: var(--black-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
  }

  .testimonal__author-desc {
    color: var(--gray-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
  }

  .testimonal__dot {
    margin-top: 40px;
  }
}

/* FAQ */
.faq {
  padding-top: 95px;
  padding-bottom: 20px;
  .faq__title {
    width: 575px;
  }

  .faq__list {
    margin-top: 80px;
  }

  .faq__item + .faq__item {
    margin-top: 60px;
  }

  .faq__item {
    position: relative;

    .faq__item-title {
      color: var(--black-color);
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: -0.128rem;
      cursor: pointer;
    }

    .faq__item-icon {
      position: absolute;
      right: 0;
      bottom: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid rgba(22, 26, 28, 0.2);
      cursor: pointer;

      &::after {
        content: url(../icon/plus-icon.svg);
        display: block;
        width: 14.08px;
        height: 14.08px;
      }
    }

    .faq__item-checkbox:checked ~ .faq__item-desc {
      margin-top: 23px;
      display: block;
    }

    .faq__item-checkbox:checked ~ .faq__item-title {
      color: var(--primary-color);
    }

    .faq__item-checkbox:checked ~ .faq__item-line {
      background-color: var(--primary-color);
    }

    .faq__item-checkbox:checked ~ .faq__item-icon {
      top: 35px;
      bottom: initial;
      border-color: rgba(93, 59, 238, 0.2);

      &::after {
        content: url(../icon/minus-icon.svg);
        display: flex;
        align-items: center;
        align-items: center;
        margin-top: -6px;
        width: 14.08px;
        height: 2px;
      }
    }

    .faq__item-desc {
      margin-top: 33px;
      width: 487px;
      display: none;
      color: var(--gray-color);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.66;
    }

    .faq__item-line {
      margin-top: 22px;
      width: 100%;
      height: 2px;
      background-color: var(--black-color);
    }
  }
}

/* Gallery */
.gallery {
  padding-top: 160px;
  .gallery-header {
    text-align: center;
  }

  .gallery__desc {
    margin-top: 20px;
    margin-inline: auto;
    width: 528px;
  }

  .gallery-list {
    margin-top: 70px;
  }

  .gallery-item__figure {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .gallery__link {
    display: block;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
    text-decoration-line: underline;
  }
  .gallery-item__img {
    width: 100%;
    height: 529px;
    object-fit: cover;
  }
}

/* Contact */
.contact {
  margin-top: 140px;
  background: #fbfaff;

  .contact__inner {
    padding: 68px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .contact__img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-inline: auto;
  }
  .contact__title {
    margin-top: 10px;
  }

  .contact__desc {
    width: 570px;
    margin-top: 20px;
    margin-inline: auto;
  }

  .contact__btn {
    position: relative;
    z-index: 1;
    margin-top: 40px;
  }

  .contact__decor {
    position: absolute;
  }

  .contact__decor:nth-child(1) {
    top: -12px;
    left: 180px;
  }
  .contact__decor:nth-child(2) {
    bottom: 0;
    left: 0;
  }

  .contact__decor:nth-child(3) {
    right: 0;
    top: 0;
  }
}

/* Footer */
.footer {
  margin-top: 50px;

  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__mail-icon,
  .footer__mail {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__mail-text {
    color: var(--black-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;

    &:hover {
      color: var(--primary-color);
    }
  }

  .footer__mail-icon {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    margin-right: 10px;
  }

  .footer__copyright {
    margin-top: 32px;
    padding: 18px 0 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(12, 7, 32, 0.2);
  }

  .footer__copyright-text {
    color: #525771;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
  }

  .footer__copyright-policy-link {
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer__copyright-policy-link:nth-child(2) {
    position: relative;
    margin-left: 23px;
    padding-left: 13px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 14px;
      background-color: rgba(82, 87, 113, 0.6);
    }
  }
}
